#main_nav{
	display: block;
	width: 100%;
	background-color: black;
	overflow: hidden;
}

#main_nav li{
	display: inline-block;
	float: left;
	/*min-width: 100px;*/
	height: 50px;
	line-height: 50px;
	min-width: 80px;
}

.nav_active{
	background-color: white;
	color: black;
}

#main_nav li a{
	display: block;
	padding: 0px 5px;
	font-size: 15px;
	text-align: center;
}

#main_nav li a:hover{
	background-color: white;
	color: black;
}

.right{
	float: right;
}
.nav_padding{
	padding-right: 25px;
	padding-left: 10px;
}